In [1]:
import pandas as pd
import numpy as np

In [2]:
data_dir = "C:/Users/16306/Downloads/"

In [3]:
#Consider how we handle NAN if results aren't quite what we want

In [14]:
#Read in data
df = pd.read_csv("C:/Users/16306/Downloads/application_train.csv")
df.head()
print("Rows initially:", len(df))

#Pull target variable and remove from predictors
target_var = df["TARGET"]
df.drop(columns=["SK_ID_CURR", "TARGET"], inplace=True)

Rows initially: 307511

In [15]:
#One Hot Encode and create variables for categorical values with NAN
df_ = pd.get_dummies(df, dummy_na=True)
df_.head()

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,WALLSMATERIAL_MODE_nan,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,EMERGENCYSTATE_MODE_nan
0,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,-3648.0,-2120,...,0,0,0,0,1,0,0,1,0,0
1,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,-1186.0,-291,...,0,0,0,0,0,0,0,1,0,0
2,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,-4260.0,-2531,...,0,0,0,0,0,0,1,0,0,1
3,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,-9833.0,-2437,...,0,0,0,0,0,0,1,0,0,1
4,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,-4311.0,-3458,...,0,0,0,0,0,0,1,0,0,1

In [16]:
#Replace NAN values in numerical variables with mean value of column 
    #Consider trying median values as well
for col in df_.columns:
    df_[col] = df_[col].fillna(df_[col].mean())

In [11]:
df_["COMMONAREA_MEDI"] = df_["COMMONAREA_MEDI"].fillna(df_["COMMONAREA_MEDI"].mean())
df_["COMMONAREA_MEDI"]

0

In [18]:
df_.dropna()

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,WALLSMATERIAL_MODE_nan,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,EMERGENCYSTATE_MODE_nan
0,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,-3648.0,-2120,...,0,0,0,0,1,0,0,1,0,0
1,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,-1186.0,-291,...,0,0,0,0,0,0,0,1,0,0
2,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,-4260.0,-2531,...,0,0,0,0,0,0,1,0,0,1
3,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,-9833.0,-2437,...,0,0,0,0,0,0,1,0,0,1
4,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,-4311.0,-3458,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,0,157500.0,254700.0,27558.0,225000.0,0.032561,-9327,-236,-8456.0,-1982,...,0,0,0,0,1,0,0,1,0,0
307507,0,72000.0,269550.0,12001.5,225000.0,0.025164,-20775,365243,-4388.0,-4090,...,0,0,0,0,1,0,0,1,0,0
307508,0,153000.0,677664.0,29979.0,585000.0,0.005002,-14966,-7921,-6737.0,-5150,...,0,0,0,1,0,0,0,1,0,0
307509,0,171000.0,370107.0,20205.0,319500.0,0.005313,-11961,-4786,-2562.0,-931,...,0,0,0,0,1,0,0,1,0,0
307510,0,157500.0,675000.0,49117.5,675000.0,0.046220,-16856,-1262,-5128.0,-410,...,0,0,0,1,0,0,0,1,0,0

In [ ]:
df["CODE_GENDER"].value_counts()

In [ ]:
df["FLAG_OWN_REALITY"].value_counts()

In [74]:
na_dict = {}
for col in df.columns:
    na_dict[col] = df[col].isna().sum()

sorted(na_dict.items(), key=lambda item: item[1])

[('NAME_CONTRACT_TYPE', 0),
 ('CODE_GENDER', 0),
 ('FLAG_OWN_CAR', 0),
 ('FLAG_OWN_REALTY', 0),
 ('CNT_CHILDREN', 0),
 ('AMT_INCOME_TOTAL', 0),
 ('AMT_CREDIT', 0),
 ('NAME_INCOME_TYPE', 0),
 ('NAME_EDUCATION_TYPE', 0),
 ('NAME_FAMILY_STATUS', 0),
 ('NAME_HOUSING_TYPE', 0),
 ('REGION_POPULATION_RELATIVE', 0),
 ('DAYS_BIRTH', 0),
 ('DAYS_EMPLOYED', 0),
 ('DAYS_REGISTRATION', 0),
 ('DAYS_ID_PUBLISH', 0),
 ('FLAG_MOBIL', 0),
 ('FLAG_EMP_PHONE', 0),
 ('FLAG_WORK_PHONE', 0),
 ('FLAG_CONT_MOBILE', 0),
 ('FLAG_PHONE', 0),
 ('FLAG_EMAIL', 0),
 ('REGION_RATING_CLIENT', 0),
 ('REGION_RATING_CLIENT_W_CITY', 0),
 ('WEEKDAY_APPR_PROCESS_START', 0),
 ('HOUR_APPR_PROCESS_START', 0),
 ('REG_REGION_NOT_LIVE_REGION', 0),
 ('REG_REGION_NOT_WORK_REGION', 0),
 ('LIVE_REGION_NOT_WORK_REGION', 0),
 ('REG_CITY_NOT_LIVE_CITY', 0),
 ('REG_CITY_NOT_WORK_CITY', 0),
 ('LIVE_CITY_NOT_WORK_CITY', 0),
 ('ORGANIZATION_TYPE', 0),
 ('FLAG_DOCUMENT_2', 0),
 ('FLAG_DOCUMENT_3', 0),
 ('FLAG_DOCUMENT_4', 0),
 ('FLAG_DOCUMENT_5', 0),
 ('FLAG_DOCUMENT_6', 0),
 ('FLAG_DOCUMENT_7', 0),
 ('FLAG_DOCUMENT_8', 0),
 ('FLAG_DOCUMENT_9', 0),
 ('FLAG_DOCUMENT_10', 0),
 ('FLAG_DOCUMENT_11', 0),
 ('FLAG_DOCUMENT_12', 0),
 ('FLAG_DOCUMENT_13', 0),
 ('FLAG_DOCUMENT_14', 0),
 ('FLAG_DOCUMENT_15', 0),
 ('FLAG_DOCUMENT_16', 0),
 ('FLAG_DOCUMENT_17', 0),
 ('FLAG_DOCUMENT_18', 0),
 ('FLAG_DOCUMENT_19', 0),
 ('FLAG_DOCUMENT_20', 0),
 ('FLAG_DOCUMENT_21', 0),
 ('DAYS_LAST_PHONE_CHANGE', 1),
 ('CNT_FAM_MEMBERS', 2),
 ('AMT_ANNUITY', 12),
 ('AMT_GOODS_PRICE', 278),
 ('EXT_SOURCE_2', 660),
 ('OBS_30_CNT_SOCIAL_CIRCLE', 1021),
 ('DEF_30_CNT_SOCIAL_CIRCLE', 1021),
 ('OBS_60_CNT_SOCIAL_CIRCLE', 1021),
 ('DEF_60_CNT_SOCIAL_CIRCLE', 1021),
 ('NAME_TYPE_SUITE', 1292),
 ('AMT_REQ_CREDIT_BUREAU_HOUR', 41519),
 ('AMT_REQ_CREDIT_BUREAU_DAY', 41519),
 ('AMT_REQ_CREDIT_BUREAU_WEEK', 41519),
 ('AMT_REQ_CREDIT_BUREAU_MON', 41519),
 ('AMT_REQ_CREDIT_BUREAU_QRT', 41519),
 ('AMT_REQ_CREDIT_BUREAU_YEAR', 41519),
 ('EXT_SOURCE_3', 60965),
 ('OCCUPATION_TYPE', 96391),
 ('EMERGENCYSTATE_MODE', 145755),
 ('TOTALAREA_MODE', 148431),
 ('YEARS_BEGINEXPLUATATION_AVG', 150007),
 ('YEARS_BEGINEXPLUATATION_MODE', 150007),
 ('YEARS_BEGINEXPLUATATION_MEDI', 150007),
 ('FLOORSMAX_AVG', 153020),
 ('FLOORSMAX_MODE', 153020),
 ('FLOORSMAX_MEDI', 153020),
 ('HOUSETYPE_MODE', 154297),
 ('LIVINGAREA_AVG', 154350),
 ('LIVINGAREA_MODE', 154350),
 ('LIVINGAREA_MEDI', 154350),
 ('ENTRANCES_AVG', 154828),
 ('ENTRANCES_MODE', 154828),
 ('ENTRANCES_MEDI', 154828),
 ('APARTMENTS_AVG', 156061),
 ('APARTMENTS_MODE', 156061),
 ('APARTMENTS_MEDI', 156061),
 ('WALLSMATERIAL_MODE', 156341),
 ('ELEVATORS_AVG', 163891),
 ('ELEVATORS_MODE', 163891),
 ('ELEVATORS_MEDI', 163891),
 ('NONLIVINGAREA_AVG', 169682),
 ('NONLIVINGAREA_MODE', 169682),
 ('NONLIVINGAREA_MEDI', 169682),
 ('EXT_SOURCE_1', 173378),
 ('BASEMENTAREA_AVG', 179943),
 ('BASEMENTAREA_MODE', 179943),
 ('BASEMENTAREA_MEDI', 179943),
 ('LANDAREA_AVG', 182590),
 ('LANDAREA_MODE', 182590),
 ('LANDAREA_MEDI', 182590),
 ('OWN_CAR_AGE', 202929),
 ('YEARS_BUILD_AVG', 204488),
 ('YEARS_BUILD_MODE', 204488),
 ('YEARS_BUILD_MEDI', 204488),
 ('FLOORSMIN_AVG', 208642),
 ('FLOORSMIN_MODE', 208642),
 ('FLOORSMIN_MEDI', 208642),
 ('LIVINGAPARTMENTS_AVG', 210199),
 ('LIVINGAPARTMENTS_MODE', 210199),
 ('LIVINGAPARTMENTS_MEDI', 210199),
 ('FONDKAPREMONT_MODE', 210295),
 ('NONLIVINGAPARTMENTS_AVG', 213514),
 ('NONLIVINGAPARTMENTS_MODE', 213514),
 ('NONLIVINGAPARTMENTS_MEDI', 213514),
 ('COMMONAREA_AVG', 214865),
 ('COMMONAREA_MODE', 214865),
 ('COMMONAREA_MEDI', 214865)]

In [54]:
df_ = pd.get_dummies(df)
print(len(df_))
df_.dropna(inplace=True)
print(len(df_))
# df_corrs = df_.corr()

307511
11351

In [33]:
#Zero binary columns
count = 0
col_list = []
for col in df.columns:
    if len(df[col].value_counts()) == 2:
        if df[col].dtype != np.int64:
            col_list.append(col)
            count += 1
        
col_list

['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_REALTY', 'EMERGENCYSTATE_MODE']